Repository SonodaKazuto/stelo-archive-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

.lintstagedrc.json:

{
	"*.{html,md,json,css,yml,yaml,sh}": ["prettier --write ."],
	"*.{js,jsx,ts,tsx,vue}": [
		"prettier --write .",
		"eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue"
	]
}

chore: upgrade dependencies
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade dependecies
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade dependencies
  .yarn/releases/yarn-4.0.0-rc.13.cjs
  .yarn/releases/yarn-4.0.0-rc.14.cjs
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore: upgrade dependencies
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore: upgrade dependencies
  yarn.lock
Due: none

fix: fix deploy problem
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

fix(.yarnrc.yml): to remove build warning
  .yarnrc.yml
Due: prettier --write .

chore: remove duplicate dependencies
  yarn.lock
Due: none

chore: upgrade yarn
  .yarn/releases/yarn-4.0.0-rc.14.cjs
  .yarn/releases/yarn-4.0.0-rc.15.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write .
