Repository SonodaKazuto/stelo-archive-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

.lintstagedrc.json:

{
	"*.{html,md,json,css,yml,yaml,sh}": ["prettier --write ."],
	"*.{js,jsx,ts,tsx,vue}": [
		"prettier --write .",
		"eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue"
	]
}

feat(markdown): trying to add custom style for markdown
  README.md
  package.json
  yarn.lock
Due: prettier --write .

feat(markdown): trying to add custom style for markdown
  README.md
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore: upgrade dependencies
  .yarn/releases/yarn-3.2.1.cjs
  package.json
  yarn.lock
Due: prettier --write .

build: upgrade to vite 3.0
  package.json
  yarn.lock
Due: prettier --write .

ci: remove vulerable version of commitizen
  package.json
  yarn.lock
Due: prettier --write .

fix: fix the build fail
  yarn.lock
Due: none

fix: fix the build fail
  package.json
  yarn.lock
Due: prettier --write .

docs(index.html): change the title of the website
  index.html
Due: prettier --write .

feat(website icon): change the default website icon
  index.html
  static/favicon.ico
  static/website_icon.ico
Due: prettier --write .

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

chore(unocss): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade dependencies
  .gitignore
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

revert: remove .yarn/plugins from gitignore
  .gitignore
Due: none

revert: remove .yarn/releases from gitignore
  .gitignore
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-4.0.0-rc.13.cjs
Due: none

chore: upgrade dependencies
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

feat: update some file with vite 3.0.1 template files
  .idea/codeStyles/Project.xml
  index.html
  src/App.vue
  src/assets/vite.svg
  src/assets/vue.svg
  src/components/HelloWorld.vue
  src/main.ts
  src/style.css
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

fix: trying to fix build fail
  src/App.vue
  src/assets/vue.png
  vite.config.ts
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

fix: trying to fix build fail
  src/assets/vite.svg
  src/assets/vue.svg
Due: none

fix(vite.config.ts): fix build fail
  vite.config.ts
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore: upgrade dependencies and migrate to node 18.6.0
  package.json
  yarn.lock
Due: prettier --write .
