Repository SonodaKazuto/stelo-archive-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

chore(yarn): upgrade yarn version
  .yarn/releases/yarn-4.0.0-rc.20.cjs
  .yarn/releases/yarn-4.0.0-rc.22.cjs
  .yarnrc.yml
  package.json
Due: prettier --write .

chore: upgrade dependencies
  yarn.lock
Due: none

chore: upgrade dependencies
  .yarn/releases/yarn-4.0.0-rc.22.cjs
  .yarn/releases/yarn-4.0.0-rc.23.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade yarn version
  .yarn/releases/yarn-4.0.0-rc.24.cjs
  .yarnrc.yml
  package.json
Due: prettier --write .

chore(yarn): upgrade yarn version
  .yarn/releases/yarn-4.0.0-rc.25.cjs
  .yarnrc.yml
  package.json
Due: prettier --write .

chore: upgrade dependencies
  package.json
  src/components/ReadMe.vue
  src/github-markdown.css
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore: upgrade dependencies
  .yarn/releases/yarn-4.0.0-rc.25.cjs
  .yarn/releases/yarn-4.0.0-rc.26.cjs
  .yarnrc.yml
  package.json
  src/components/HelloWorld.vue
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

chore(prettier): upgrade to next
  index.html
  package.json
  yarn.lock
Due: prettier --write .

Path conditions:
  prettier --write .: (any of: *.{html,md,json,css,yml,yaml,sh}) or (any of: *.{js,jsx,ts,tsx,vue})
  eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue: any of: *.{js,jsx,ts,tsx,vue}
