Repository SonodaKazuto/stelo-archive-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: add vite-plugin-eslint
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: set up husky
  package.json
  yarn.lock
Due: prettier --write .

ci: set up commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: set up commitlint and commitizen integration
  .husky/prepare-commit-msg
  README.md
  package.json
  yarn.lock
Due: prettier --write .

ci: integrate commitlint and commitizen
  .husky/prepare-commit-msg
  package.json
Due: prettier --write .

ci: integrate commitlint and commitizen
  .husky/prepare-commit-msg
Due: none

docs: integrate commitlint and commitizen
  README.md
Due: prettier --write .

ci(git hook): remove cz hook and add post-commit hook
  .husky/post-commit
  package.json
Due: prettier --write .

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

ci: set up pre-commit (unfinished)
  .eslintignore
  .eslintrc.json
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/runConfigurations/dev.xml
  .idea/runConfigurations/install_dependencies.xml
  .pre-commit-config.yaml
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.1.cjs
  README.md
  commitlint.config.js
  index.html
  package.json
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: add pre-commit hook
  .husky/pre-commit
Due: none

docs: reorder the content
  .eslintrc.json
Due: prettier --write .

ci(.pre-commit-config.yaml): add more hooks and remove some
  .pre-commit-config.yaml
  README.md
Due: prettier --write .

docs(README.md): check a thing in todo
  README.md
Due: prettier --write .

ci: set up eslint, prettier, and vue integration
  .eslintrc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write .

ci: add eslint
  .eslintignore
  .eslintrc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write .

ci: add eslint-plugin-prettier-vue
  .eslintrc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write .

build(vite.config.ts): add some config to vite.config.ts
  README.md
  static/favicon.ico
  tsconfig.json
  vite.config.ts
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

style: reformat some files
  .editorconfig
  README.md
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: add eslint-plugin-import and eslint-plugin-comments
  .eslintrc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write .

ci: set up lint-staged
  .eslintrc.json
  .lintstagedrc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write .

ci: add prettier
  .editorconfig
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .prettierignore
  .prettierrc.json
  .yarnrc.yml
  README.md
  package.json
  src/App.vue
  src/components/HelloWorld.vue
  src/env.d.ts
  src/main.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.d.ts
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: add prettier-plugin-sh
  .idea/runConfigurations/install_dependencies.xml
  README.md
  package.json
  yarn.lock
Due: prettier --write .

Path conditions:
  prettier --write .: (any of: *.{html,md,json,css,yml,yaml,sh}) or (any of: *.{js,jsx,ts,tsx,vue})
  eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue: any of: *.{js,jsx,ts,tsx,vue}
