Repository SonodaKazuto/stelo-archive-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

.lintstagedrc.json:

{
	"*.{html,md,json,css,yml,yaml,sh}": ["prettier --write ."],
	"*.{js,jsx,ts,tsx,vue}": [
		"prettier --write .",
		"eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue"
	]
}

ci: add vite-plugin-eslint
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

ci: set up standard-version
  .versionrc.json
  package.json
  yarn.lock
Due: prettier --write .

docs(README.md): add some status badges
  README.md
Due: prettier --write .

perf(vite.config.ts): set eslint cache false
  .eslintrc.json
  .yarn/releases/yarn-3.2.1.cjs
  vite.config.d.ts
  vite.config.ts
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

docs(README.md): check something in todo
  README.md
Due: prettier --write .

docs(README.md): add netlify status badge
  README.md
Due: prettier --write .

chore: upgrade dependencies
  README.md
  package.json
  yarn.lock
Due: prettier --write .

ci(.netlify): link to netlify-cli
  .gitignore
Due: none

ci(.eslintignore, .prettierignore): ignore .netlify
  .eslintignore
  .prettierignore
Due: none

docs(README.md): remove Codacy badge because it's not a free service
  README.md
Due: prettier --write .

feat: set up Unocss
  README.md
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

docs(package.json): update information in package.json
  package.json
Due: prettier --write .

feat(package.json): add vite-plugin-theme but not yet configure
  package.json
  yarn.lock
Due: prettier --write .

fix(main.ts, .eslintrc.json): import uno.css
  .eslintrc.json
  src/main.ts
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

fix(commitizen): fix vulerable deps
  package.json
  yarn.lock
Due: prettier --write .

docs(README.md): add commitizen badge
  README.md
Due: prettier --write .

docs(README.md): add a reference
  README.md
Due: prettier --write .

revert: revert inquirer version upgrede
  package.json
  yarn.lock
Due: prettier --write .

chore(commitizen): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write .

docs(README.md): remove some content
  README.md
Due: prettier --write .

ci(pre-commit): add commitlint hook
  .pre-commit-config.yaml
  README.md
Due: prettier --write .

build: add vite-plugin-progress
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

feat: add markdown support
  README.md
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

feat(ReadMe.vue): add a markdown component and fix the bug with vite-plugin-md
  README.md
  package.json
  src/App.vue
  src/components/ReadMe.vue
  src/shim.d.ts
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

fix: trying to fix deploy fail
  yarn.lock
Due: none

feat(markdown): trying to add custom style for markdown
  README.md
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write ., eslint --fix . --ext .js,.jsx,.ts,.tsx,.vue

feat(markdown): trying to add custom style for markdown
  README.md
  package.json
  yarn.lock
Due: prettier --write .

chore: upgrade dependencies
  .yarn/releases/yarn-3.2.1.cjs
  package.json
  yarn.lock
Due: prettier --write .

build: upgrade to vite 3.0
  package.json
  yarn.lock
Due: prettier --write .
